@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(206, 92%, 94%);
}

a{
  text-decoration: none;
  color: black;
  padding: 0 3.4rem;
}

nav {
    font-size: 2rem;
    background-image: linear-gradient(rgb(102, 235, 97),rgb(0, 247, 255));
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}

nav ul li:hover {
    background-image: linear-gradient(rgb(241, 116, 231),rgb(153, 0, 255));
    color: #fff;
}

#myPic{
  width:15rem;
  height:15rem;
  border-radius: 50%;
  display: flex;
  margin-left:33rem;
  margin-top:3rem;
  border: 5px solid rgb(80, 147, 235);
}
.name{
  display: flex;
  align-items: center;
  font-size: 3rem;
  color:#f8a5a5;
  margin-left:33rem;
}
textarea{
  display: flex;
  margin-left:20rem;
  border-radius: 1rem;
  text-align: center;
  background-color: #74b9ff;
  font-family: 'Roboto', sans-serif;
  resize: none;
  border: 1px solid #74b9ff;
  color: white;
  width:45rem;
  height: 8rem;
  box-shadow: 2px -1px 24px -3px rgba(0,0,0,0.75);
}
.education{
  display: flex;
  flex-direction: column;
  margin-left: 24rem;
  margin-right: 28rem;
  background-color: coral;
  margin-top: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 2px -1px 24px -3px rgba(0,0,0,0.75);
  font-family: 'Playfair Display', serif;
}
#mySchool{
  display: flex;
  margin-left: 28rem;
  margin-top: 3rem;
  border: 5px solid rgb(221, 191, 255);
  border-radius: 1rem;
}
.firstEdu{
  color:rgb(251, 255, 0);
}
.secondEdu{
  color:rgb(159, 240, 233)
}
.school{
  color:rgb(158, 219, 100);
}
@media all and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
        border-radius: 3rem;
    }
    #myPic{
      width:15rem;
      height:15rem;
      border-radius: 50%;
      display: flex;
      left:4rem;
      top:20rem;
      border: 5px solid rgb(80, 147, 235);
    }
    .name{
       display: absolute;
       top:20rem;
       left:4rem;
       color: #ffac74;
    }
    textarea{
      position: flex;
      left: 4rem;
      right: 0rem;
      top:50rem;
      width:15rem;
      height: 15rem;
    }
    .education{
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      margin-right: 2rem;
      background-color: coral;
      margin-top: 2rem;
      border-radius: 1rem;
      text-align: center;
      box-shadow: 2px -1px 24px -3px rgba(0,0,0,0.75);
    }
    #mySchool{
      display: flex;
      margin-left: 2rem;
      margin-top: 3rem;
      border: 5px solid rgb(221, 191, 255);
      border-radius: 1rem;
    }
    .firstEdu{
      color:rgb(251, 255, 0);
    }
    .secondEdu{
      color:rgb(159, 240, 233)
    }
    .school{
      color:rgb(158, 219, 100);
    }
}